.main {
}
.main h2 {
  font-size: 24px;
}

.add {
  padding: 40px 20px;
  border: 2px dashed #b1b1b1;
  width: 325px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.add:hover {
  cursor: pointer;
}
